* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.content {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content h2 {
    margin-bottom: 20px;
    color: #347576;
}

.overview {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.overview-item {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.overview-item h3 {
    margin-bottom: 10px;
    color: #347576;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #347576;
    padding-top: 20px;
    transition: left 0.5s;
    overflow-x: hidden;
    z-index: 1;
    border-radius: 0 10px 10px 0;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
}

.sidebar a:hover {
    background-color: #3e8e41;
    transform: scale(1.05);
}

.arrow {
    width: 20px;
    height: 20px;
    fill: white;
}

canvas {
    width: 100%;
    /* Adjust width as needed */
    height: auto;
    /* Let the browser maintain aspect ratio */
}


h2 {
    margin-bottom: 10px;
    color: #347576;
}

p {
    margin-bottom: 5px;
    color: #666;
}

.go-back-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #347576;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go-back-btn:hover {
    background-color: #3e8e41;
}

main {
    margin-top: 10px;
    /* Adjust based on header height */
    padding: 20px;
    margin-left: 250px;
    /* Adjust based on sidebar width */
}

table {
    width: 100%;
    margin-left: 0px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    max-width: fit-content;
}

th:nth-child(5),
td:nth-child(5) {
    /* Target the second column */
    width: 300px;
    /* Set the width of the second column */
}

th {
    background-color: #347576;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}

td:last-child button {
    margin-right: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

td:last-child button:hover {
    background-color: #ddd;
}

.button-view {
    background-color: #4CAF50;
    color: white;
}

.button-edit {
    background-color: #008CBA;
    color: white;
}

.button-toggle {
    background-color: #f44336;
    color: white;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #347576;
    padding-top: 20px;
    overflow-x: hidden;
    z-index: 1;
    border-radius: 0 10px 10px 0;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
}

.sidebar a:hover {
    background-color: #3e8e41;
    transform: scale(1.05);
}


header {
    background-color: #347576;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.5s;
}

#dashboard {
    z-index: 3;
    /* Ensure the dashboard is above other elements */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.content {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container h2 {
    margin-bottom: 20px;
    color: #347576;
}

table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #347576;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}

td:last-child button {
    margin-right: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

td:last-child button:hover {
    background-color: #ddd;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #347576;
    padding-top: 20px;
    transition: left 0.5s;
    overflow-x: hidden;
    z-index: 1;
    border-radius: 0 10px 10px 0;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
}

.sidebar a:hover {
    background-color: #3e8e41;
    transform: scale(1.05);
}

.arrow {
    width: 20px;
    height: 20px;
    fill: white;
}