* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #347576 55%, #7faaaa); /* Gradient background */
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff; /* White text */
    user-select: none;
}

.navigation a {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #eee; /* Lighter color on hover */
}

.Wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#347576; /* Use the background color for the logo container */
    padding: 20px;
    border-radius: 50%;
}

.logo-container img {
    max-width: 60%; /* Adjust logo size */
    height: auto;
}

.form-box {
    background-color: #d1fff3; /* White background */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center;
}

button.login, button.admin {
    background-color: #347576; /* Dark green background */
    color: #fff;
    border: none;
    padding: 18px 25px; /* Adjust padding */
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-size: 1.1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button.login:hover, button.admin:hover {
    background-color: #235d5c; /* Darker green on hover */
}

.form-box h2 {
    color: #347576;
    margin-bottom: 35px;
    font-size: 1.5em;
}

.admin-input, .admin-email, .submit-pin {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.submit-pin {
    background-color: #347576;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-pin:hover {
    background-color: #235d5c;
}
.admin-pin{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}